.ScanPages {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.scan-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.scan-header i {
    margin-right: 75px ;
}

.scan-header p {
    text-align: center;
    font-family: NotoSansCJ-Black;
    font-weight: bold;
    font-size: 20px;
    line-height: 64px;
    color: #000000;
}