:root {
 
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: BMDDOHYEON ;
  src: url("../public/BMDOHYEON_otf.otf");
}

@font-face {
  font-family: AppleSDGothicSB;
  src: url("../public/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: AppleSDGothicB;
  src: url("../public/AppleSDGothicNeoB.ttf");
}

@font-face{
  font-family: NotoSansCJ-Black;
  src: url("../public/NotoSansCJKkr-Black");;
}

@font-face {
  font-family: AppleSDGoThicH;
  src: url("../public/AppleSDGothicNeoH.ttf") format("true-type");
}

@font-face {
  font-family: AppleSDGoThicEB ;
  src: url("../public/AppleSDGothicNeoEB.ttf");
}

@font-face{
  font-family: AppleSDGothicNeoM;
  src: url("../public/AppleSDGothicNeoM.ttf") format("true-type");
}