:root {
 
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: BMDDOHYEON ;
  src: url("/BMDOHYEON_otf.otf");
}

@font-face {
  font-family: AppleSDGothicSB;
  src: url("/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: AppleSDGothicB;
  src: url("/AppleSDGothicNeoB.ttf");
}

@font-face{
  font-family: NotoSansCJ-Black;
  src: url("/NotoSansCJKkr-Black");;
}

@font-face {
  font-family: AppleSDGoThicH;
  src: url("/AppleSDGothicNeoH.ttf") format("true-type");
}

@font-face {
  font-family: AppleSDGoThicEB ;
  src: url("/AppleSDGothicNeoEB.ttf");
}

@font-face{
  font-family: AppleSDGothicNeoM;
  src: url("/AppleSDGothicNeoM.ttf") format("true-type");
}